.DS_Store
.gradle
.idea
.classpath
.project
.settings
.yardoc
.yardopts
bin
build
target
out
test-output
Scratch.java
ScratchTest.java
test-results
test-tmp
*.class
*.iml
*.ipr
*.iws
mods
vertx_classpath.txt
Credentials.java