<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="post-service">
    <style>
        :host {
            display: none;
        }
    </style>
    <template>
        <iron-ajax
            auto
            url="{{computeJsonUrl(prov, lat, lng)}}"
            handle-as="json"
            on-response="postsLoaded">
        </iron-ajax>
    </template>
    <script>
        Polymer({
            is: 'post-service',

            properties: {
				fakeApi: {
					type: String,
					value: ''
				},
				
                posts: {
                    type: Array,
                    value: [],
                    notify: true
                },
				
				prov: String,
				
                lat: Number,
				
                lng: Number
            },

            computeJsonUrl: function(provider, latitude, longitude) {
				if (this.fakeApi)
					return this.fakeApi;
				return '../'+provider+'/'+latitude+'/'+longitude;
            },

            postsLoaded: function(request) {
                this.posts = request.detail.response;
            }
        });
    </script>
</dom-module>