<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/google-apis/google-maps-api.html">
<link rel="import" href="../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">

<dom-module id="search-box">
	<style>
		:host {
			background: #FFF;
			
			border: 1px solid #CCC;
			border-radius: 4px;
			padding: 1px 1px 1px 5px;
			
			position: absolute;
			top: 25px;
			left: 25px;
			z-index: 100;
		}

		#search {
			font-size: 15px;
			color: #555;
			
			border: 0px;
			padding: 6px 0px 6px 32px;
			margin: 0 0 0 -32px;
			
			width: 250px;
		}
	</style>
	<template>
		<google-maps-api
			api-key="[[apiKey]]"
			libraries="[[libraries]]"
			language="[[language]]"
			on-api-load="_mapApiLoaded">
		</google-maps-api>
		
		<iron-icon icon="icons:search"></iron-icon>
		<input id="search" placeholder="Emplacement" on-keydown="keydownHandler" on-click="clickHandler"/>
    </template>
    <script>
		Polymer({
			is: 'search-box',
			
			properties: {
				apiKey: String,
				
				map: Object,
				
				libraries: {
					type: String,
					value: 'places'
				},
				
				language: {
					type: String,
					value: null
				},
				
				lat: {
					type: Number,
					value: null,
					notify: true
				},
				
				lng: {
					type: Number,
					value: null,
					notify: true
				}
			},

			_mapApiLoaded: function() {
				this.autocomplete = new google.maps.places.Autocomplete(this.$.search);
				google.maps.event.addListener(this.autocomplete, 'place_changed', function() {
					var place = this.autocomplete.getPlace();
					this.lat = place.geometry.location.A;
					this.lng = place.geometry.location.F;
					this.fire('search');
				}.bind(this));
			},
			
			keydownHandler: function(key) {
				/*if (key.keyCode === 13 && !key.triggered) {
					this.fire('keydown', {keyCode: 40});
					this.fire('keydown', {keyCode: 13, triggered: true});
				}*/
			},
			
			clickHandler: function() {
				this.$.search.value = '';
			}
		});
    </script>
</dom-module>